<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @entry_type.description %>
</p>

<%= link_to 'Edit', edit_entry_type_path(@entry_type) %> |
<%= link_to 'Back', entry_types_path %>
