input{
	border-radius: 5px
}

.form-container{
	max-width: 450px;
	background: #203575;
	padding: 100px 75px 100px 75px;
	border-radius: 10px
}

.field{
	text-align: left;
	
}

.form-input{
	width: 100%;
}
.white{
	color: white !important;
}
.div50{
	height: 50px
}